#View:
#crontab -l
#Edit: 	
#crontab -e
#
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
#
#0 2 * * * root /home/backUp.sh >/dev/null 2>&1
#0 2 * * * sh /home/backUpiT.sh /opt/BackUps >> /home/kravetsma/backUpiT.log


# Backup Alfresco
#02 18 * * * sh /root/backUpiT.sh /opt/BackUps >> /root/backUpiT.log
02 18 * * * sh /root/backUpiT.sh /opt/BackUps >> /root/backUpiT.log >/dev/null 2>&1
